// font


// design size
$design-d: 1440;
$design-t: 1024;
$design-m: 768;

// layout padding
$paddingTablet: 30px;
$paddingMobile: 40px;

// Primary color
$color-white: #ffffff;
$color-black: #000000;
$color-red: #c00f41;
$color-red2: #f02b52;

// Secondary color
$color-gray1: #111111;
$color-gray2: #222222;
$color-gray3: #333333;
$color-gray4: #444444; // design에 없음
$color-gray6: #666666;
$color-gray76: #767676;
$color-gray7c: #7c7c7c;
$color-gray9: #999999;
$color-gray94: #949494;
$color-grayb: #bbbbbb;
$color-grayc: #cccccc;
$color-grayd: #dddddd;
$color-grayd9: #d9d9d9;
$color-graye: #eeeeee;
$color-grayf: #f5f5f5;

// global element variable
$sticky-gnb-height-limit: 40px;

// interaction variable
$dimed-animation-time: 0.9s;
