/*
* Functions
*/
/*
* Font
*/
/*
* Responsive web
*/
/*
* Etc
*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: #cccccc 1px solid;
}

.header_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.header_logo img {
  width: 10.4166666667vw;
}
@media (min-width: 751px) {
  .header_logo img {
    width: 6.9444444444vw;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .header_logo img {
    width: 100px;
  }
}