/*
* Functions
*/
/*
* Font
*/
/*
* Responsive web
*/
/*
* Etc
*/
.footer {
  display: flex;
  justify-content: center;
  background-color: #2833e7;
  border-top: #a5a5a5 1px solid;
  padding: 1.3020833333vw 0;
}
@media (min-width: 751px) {
  .footer {
    padding: 1.0416666667vw 2.0833333333vw;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .footer {
    padding: 15px 30px;
  }
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 751px) {
  .footer_wrapper {
    max-width: 100vw;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .footer_wrapper {
    max-width: 1440px;
  }
}

.footer_logo {
  display: flex;
  flex-direction: row;
}
.footer_logo img {
  width: 10.4166666667vw;
}
@media (min-width: 751px) {
  .footer_logo img {
    width: 6.9444444444vw;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .footer_logo img {
    width: 100px;
  }
}

.footer_info {
  display: flex;
  flex-direction: row;
  color: #fff;
  gap: 1.3020833333vw;
  font-size: 1.5625vw;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer_info {
    font-size: 1.5625vw;
  }
}
@media (min-width: 375px) and (max-width: 384pxpx) {
  .footer_info {
    font-size: 6px;
  }
}
@media (max-width: 374px) {
  .footer_info {
    font-size: 6px;
  }
}
@media (min-width: 751px) {
  .footer_info {
    gap: 1.7361111111vw;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .footer_info {
    font-size: 15px;
  }
}
@media (min-width: 751px) and (min-width: 769px) and (max-width: 1440px) {
  .footer_info {
    font-size: 1.0416666667vw;
  }
}
@media (min-width: 751px) and (min-width: 769px) and (max-width: 1152px) {
  .footer_info {
    font-size: 12px;
  }
}
@media (min-width: 751px) and (min-width: 1441px) {
  .footer_info {
    gap: 25px;
  }
}